<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Failed</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <!--<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">-->
    <link rel="stylesheet" href="/stylesheets/loginStyle.css">

    <!--<link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="/assets/styles/style.css">-->
</head>
<body>
    <!--<div class="instructions">-->
    <!--<div class="container">-->
        <!--<h1 class="lead">Failed to login</h1>-->
    <!--</div>-->


    <!--</div>-->
    <!--<p><a href="/">Back to login</a></p>-->

    <div class="top-content">

        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>Welcome</strong> to <strong><span class="q">Q</span></strong>uiz<strong><span class="a">A</span></strong>dmin</h1>
                        <div class="description">
                            <p>
                                An open-source teaching app that enables teachers to build quizzes quick & easy.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3 class="failed">Login Failed Please try again</h3>
                                <p>Enter your username and password to log on:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form role="form" action="/" method="post" class="login-form">
                                <div class="form-group">
                                    <label class="sr-only" for="form-username">Username</label>
                                    <input type="text" name="username" placeholder="Username..." class="form-username form-control" id="form-username">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-password">Password</label>
                                    <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password">
                                </div>
                                <button type="submit" class="btn">Sign in!</button>
                            </form>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>



</body>
</html>