@import url(http://fonts.googleapis.com/css?family=Titillium+Web:900|Roboto:400,100);

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #fff url(../images/2.jpg) no-repeat 0px 0px;
}

tr {
    background-color: #e5e5e5;
}

table {
    white-space: nowrap;
}

.question-column {
    max-width: 400px;
    overflow: hidden;
}

.table-icon {
    padding: 0;
}

strong { font-weight: 500; }

.q {
    color: #55acee;
    font-size: 1.6em;
}

.a {
    color: #dd4b39;
    font-size: 1.6em;
}

.top-head {
    margin-top: 10px;
}

legend, .form-color {
    color: #fff7cd;
}

.footer {
    bottom: 0;
    left: 0;
    margin-top: 30px;
    position: absolute;
    color: #c0c0c0;
    /*height: 48px;*/
    background-color: rgba(51,51,51, .8);
}

.inner-footer{
    padding-top: 10px;
}

/*li {*/
    /*list-style: none;*/
    /*display: block;*/
/*}*/

/*.btn-tran {*/
    /*transition: all 2s;*/
/*}*/