body {
    background: #fff url(../images/2.jpg) no-repeat 0px 0px;
}

tr {
    background-color: #e5e5e5;
}

table {
    white-space: nowrap;
}

.question-column {
    max-width: 400px;
    overflow: hidden;
}

.table-icon {
    padding: 0;
}

strong { font-weight: 500; }

.q {
    color: #55acee;
    font-size: 1.6em;
}

.a {
    color: #dd4b39;
    font-size: 1.6em;
}

.top-head {
    margin-top: 10px;
}

legend, .form-color {
    color: #fff7cd;
}

/*.btn-tran {*/
    /*transition: all 2s;*/
/*}*/