<nav class="navbar navbar-default top-head" ng-controller="QuizController">
    <div class="container-fluid">
        <div class="navbar-header">
            <h2><strong><span class="q">Q</span></strong>uiz<strong><span class="a">A</span></strong>dmin <span>Welcome</span>
                <span class="text-uppercase name-head">{{user.local.email}}</span></h2>
        </div>
        <div class="nav navbar-nav navbar-right">
            <a class="btn btn-link btn-lg" role="button" href="/logout">Log Out <span
                    class="glyphicon glyphicon-log-out"></span></a>
        </div>
    </div>
</nav>